{:paths ["src" "test"]
 :deps {reagent/reagent {:mvn/version "1.2.0"}
        re-frame/re-frame {:mvn/version "1.4.2"}
        binaryage/devtools {:mvn/version "1.0.6"}
        thheller/shadow-cljs {:mvn/version "2.26.2"}
        roman01la/cljs-react-devtools
        {:git/url "https://github.com/roman01la/cljs-react-devtools/"
         :git/sha "2351006978e2747d6277722d435155c48faf1ba8"}}}
